<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body class="text-center">
<div class="cover-container d-flex w-50 h-100 p-5 mx-auto flex-column">
        <h1 class="cover-heading">Welcome, Let's climb!</h1>
        <hr color="#0D96FA">
        <p class="lead">Login below to find climbs in your area.</p>
    <div id="loginbox">
        <form action="/go_login" method="post">
            {% csrf_token %}
            <input type="text" name="form_em" class="form-control" placeholder="Email">
            <br>
            <input type="password" name="form_pw" class="form-control" placeholder="Password">
            <br>
            <!-- ERROR MESSAGES -->
            {% if messages %}
            <p class="msg-red">
                {% for message in messages %}
                <p class="msg-red" {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
                {% endfor %}
            </p>
            {% endif %}
            <button type="submit" class="btn btn-lg btn-secondary">Login</button>
            <p></p>
            <a href="/register" class="">Sign Up</a>
        </form>
    </div login>
</div container>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>