/* LOGIN PAGE - - - - - LOGIN PAGE - - - - - LOGIN PAGE - - - - - LOGIN PAGE - - - - - LOGIN PAGE - - - - - LOGIN PAGE - - - - -  */
#login, #registration {
    min-width: 300px;
    display: inline-block;
    border: 2px solid darkolivegreen;
    margin: 20px;
    padding: 10px;
    background-image: linear-gradient(to bottom right, lightgoldenrodyellow, khaki);
}
.log-reg-hr {
    width: 230px;
    margin-top: -10px;
    border-color: goldenrod;
}
.log-reg-input {
    float: right;
    min-width: 200px;
}
.log-reg-but {
    float: right;
    padding: 5px;
}

/* MESSAGES - - - - - MESSAGES - - - - - MESSAGES - - - - - MESSAGES - - - - - MESSAGES - - - - - MESSAGES - - - - -  */
.msg-red {
    color: red;
}

/* GENERAL FORMATTING - - - - - GENERAL FORMATTING - - - - - GENERAL FORMATTING - - - - - GENERAL FORMATTING - - - - -  */
.t-c {
    text-align: center;
}

/* MAP - - - - - MAP - - - - - MAP - - - - - MAP - - - - - MAP - - - - - MAP - - - - - MAP - - - - -  */
#mapid {
    height: 300px;
    width: 500px;
}
#map {
    height: 300px;
    width: 500px;
}

/*create trail-----create trail*/
.create_trail{
    width: 400px;
    margin-left: 100px;
    display: inline-block;
}

/*map---geolocation*/
#map{
    height: 100%;
    display: inline-block;
}

